{% extends 'house_finances/base.html' %}
{% load humanize %}

{% block contents %}
	<div class="detail">
		<h2>{{ roomie.name }}</h2>
		<div class="owed-amount"><h2>Owes ${{ roomie.total_owed|intcomma }}</h2></div>
		<ul class="debts">
			{% for debt in roomie.debts %}
				<li class="{% if debt.paid_in_full %}paid-in-full{% endif %}">
					${{ debt.amount_still_owed|intcomma }} owed to <u>{{ debt.creditor }}</u> for <u>{{ debt.item.name }}</u>. 
				{% if debt.payments %} Paid ${{ debt.payment_sum|intcomma:2 }} of ${{ debt.amount }}.{% else %} No payments made. {% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}